{% extends "layout.njk" %}
{% block head %}
<title>Chefs - Foodfy</title>
{% endblock %}

{% block content %}
<section class="chefs">
    <div class="container">
        <div class="chefs__thumb">
            {% for chef in chefs %}
            <div class="chefs__thumb--card">
                <figure class="chefs__thumb--card-img">
                    {% for chefFile in chefsFiles %}
                        {% if chefFile.id == chef.file_id %}
                            <img src="{{ chefFile.src }}" alt="{{ chef.name }}">
                        {% endif %}
                    {% endfor %}
                </figure>

                <div class="chefs__thumb--card-infos">
                    <h4 class="chefs__thumb--card-title">{{chef.name}}</h4>
                    {% if chef.total_recipes > 1 %}
                    <p class="chef__thumb--card-recipes">{{chef.total_recipes}} Receitas</p>
                    {% elseif chef.total_recipes == 1 %}
                    <p class="chef__thumb--card-recipes">{{chef.total_recipes}} Receita</p>
                    {% else  %}
                    <p class="chef__thumb--card-recipes">Sem receita</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script src="/scripts.js"></script>
{% endblock %}