{% extends "layout.njk" %}
{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}
{% import 'parts/section-recipes.njk' as section %}

{% block content %}
    {{section.recipes('', recipes, recipeFiles)}}
    <script src="/scripts.js"></script>
{% endblock %}

